body{
    background-color: rgb(250, 8, 8);
border-image-outset: 0cap;
}


img{border-radius: 50%;
width: 150px;
height: 150px;

}
ul,li,a{
color: antiquewhite;


}
ol,li{
color: rgb(14, 235, 143);


}
h1,h2{

    color: rgb(65, 243, 139);
}
hr,{

}


